#occian_head {
  width: 350px;
  height: 330px;
}

h1 {
  font-family: "Tangerine", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 69px;
  font-weight: bold;
  text-shadow: 4px 4px 4px #aaa;
  margin-bottom: 1px;
}

#descripto {
  margin-top: 1px;
}

.role {
  color: brown;
  overflow-wrap: break-word;
}

details > summary {
  padding: 4px;
  width: 160px;
  margin-left: 42%;
  background-color: #eeeeee;
  border: none;
  border-radius: 11px;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details > p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  border-radius: 11px;
  box-shadow: 1px 1px 2px #bbbbbb;
}

#night {
  width: 33px;
  height: 33px;
}

/* The switch - the box around the slider */
/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
} */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  /*height: 26px;*/
  height: 13px;
  /*width: 26px;*/
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  /*background-color: #2196f3;*/
  background-color: brown;
}

input:focus + .slider {
  /*box-shadow: 0 0 1px #2196f3;*/
  box-shadow: 0 0 1px #b30b0b;
}

input:checked + .slider:before {
  /*-webkit-transform: translateX(26px);*/
  -webkit-transform: translateX(13px);
  /*-ms-transform: translateX(26px);*/
  -ms-transform: translateX(13px);
  /*transform: translateX(26px);*/
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  background: #fff;
  color: #000;
}

.black {
  background: #000;
  color: #fff;
}
.black .role {
  color: white;
}

@media only screen and (min-width: 600px) {
  .black .role {
    color: brown;
  }
}

@media only screen and (max-width: 600px) {
  details > summary {
    margin-left: 18%;
    margin-bottom: 3px;
  }
  details > p {
    margin-bottom: 19px;
  }
  .black .role {
    color: brown;
  }
}
